.vscode/

.idea/
*.iml
*.iws
out/

node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.local
.env.*.local
.DS_Store

.DS_Store

target/
*.class
*.jar
*.war
*.ear
*.iml
*.log
*.tmp


.mvn/wrapper/maven-wrapper.jar
